
 <!-- SIGNUP-FORM -->
 <div class="form-group">
    <div class="form-group-inner">
        <label for="username"><i class="fa-solid fa-user"></i></label><input type="text" name="username" id="username"  placeholder="Username" autocomplete="off" required>
    </div>
    <small></small>
 </div>
<div class="form-group"><div class="form-group-inner">
    <label for="email"><i class="fa-solid fa-envelope"></i></label><input type="text" name="email" id="email" placeholder="name@example.com" autocomplete="off" required>
</div>
<small></small>
</div>
<div class="form-group">
    <div class="form-group-inner">
        <label for="password"><i class="fa-solid fa-unlock"></i></label><input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required>
<label class="show" id="show">show</label>
    </div>
    <small></small>
</div>
<div class="form-group"><div class="form-group-inner">
    <label for="confirm-password"><i class="fa-solid fa-lock"></i></label><input type="password" name="confirmpassword" id="confirm-password" placeholder="Confirm-password" autocomplete="off" required>
</div>
<small></small>
</div>
