<!-- IMPORTING THE SCRIPT FOR NOTY -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
<link rel="stylesheet" href="/css/navbar.css">
<header class="flex">
    <div class="navbar-container flex">
        <h1><a href="/">Placement</a></h1>
        <% if(locals.user) { %>            
            <nav class="top-navbar">
                <ul class="navbar">
                    <li><a class="top-nav-link" href="/users/fetchdata">Reports</a></li>
                    <li><a class="top-nav-link" href="/company/">Company</a></li>
                    <li><a class="top-nav-link" href="/users/signout/">Signout</a></li>
                </ul>
            </nav>
            <div class="hamburger">
                <span class="bar"></span><span class="bar"></span><span class="bar"></span>
            </div>
        <%}%>            
    </div>
</header>
<script src="/js/navbar.js"></script>

