<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT</title>
    <link rel="stylesheet" href="/css/studentform.css">
</head>

<body>
    <!-- PARTIALS FOR HEADER -->
    <%- include('partials/header') %>
    <div class="my-container">
        <div class="form-wrapper">
            <form action="/student/createstudent" method="POST">
                <!-- PARTIALS FOR STUDENT -->
                <%- include('partials/student') %>
        
                <div class="submit-div">
                    <button class="btn"><a href="/">Cancel</a></button>
                    <button class="btn" type="submit">Add Student</button>
                </div>
        
            </form>
        </div>
    </div>
    
    <%- include('partials/flashMessages') %>
</body>
</html>