<!DOCTYPE html>
<html lang="en">
<head>
    <title>SIGNUP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    
    <div class="my-container">
        <div class="form-wrapper-parent">
            <div class="form-heading"><h1><span>Signup</span></h1></div>
            <div class="form-wrapper">
                <form action="/users/create" method="POST">
                    <%- include('partials/create_employee') %>

                    <div class="submit-div">
                        <button type="submit" class="submit-btn">Bring it on</button>
                    </div>
                </form>
                <div class="change-option">
                    <h5>Already Have An Account &nbsp</h5><a href="/users/login">SIGN_IN</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/flashMessages') %>
    <script src="/js/form.js"></script>

</body>
</html>